* {
    box-sizing: border-box;
}

.body {
    font-family: 'Open Sans',sans-serif;
}

.container{
    border: 1px solid tomato;
    margin: auto;
    /* background-color:#53f868; */
    width: 850px;
    height: 600px;
    border-radius: 25px;
}

h1{
    color:#ea1ad0;
    text-align: center;
}
p {
    font-size: 20px;
    margin-left: 10px;
    
    
}

img{

    float: right;
    width: 250px;
    height: 250px;
    border-radius: 50px;
    margin-left:15px;
    margin-right: 15px;;
}

.footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  
  }